	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			  <p>{{ message }}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	
			<form action="/receivers/{{ receiver['ip']}}/{{ receiver['port'] }}/update" method="post">

					<label for="ip"><b>IP: {{ receiver['ip']}}</b></label>
					<!--input type="text" id="ip" placeholder="{{ receiver['ip']}}" name="ip" readonly-->

					</br></br>

					<label for="port"><b>Port: {{ receiver['port']}}</b></label>
					<!--input type="text" id="port" placeholder="{{ receiver['port']}}" name="port" readonly-->

					</br></br>
					
					<script>
						var getFunc = function(id, value) {
							if (value == 'True') value = 'used';
							if (value == 'False') value = "don't used";
							let items = document.getElementById(id).querySelectorAll('option');
							//console.log("items = ", items);
							//console.log("items.length = ", items.length);
							console.log(value)
							var count;
							for (count = 0; count < items.length; count++) {
								item = items.item(count);
								//console.log("item = ", item, typeof(item), typeof(item.innerHTML) );
								if (item.innerHTML == value) {
									//console.log("done");
									return count;
									}
								}
							};
						window.addEventListener('load', function() { document.getElementById('model').querySelectorAll('option')[getFunc('model','{{ receiver['model']}}')].selected = true; });
						window.addEventListener('load', function() { document.getElementById('satellite').querySelectorAll('option')[getFunc('satellite','{{ receiver['satellite']}}')].selected = true; });
						window.addEventListener('load', function() { document.getElementById('state').querySelectorAll('option')[getFunc('state','{{ receiver['state']}}')].selected = true; });						
					</script>

					<label for="model" ><b>Model:</b></label>
					<select id="model" name="model">
						{% for key, value in types_of_receivers.items() %}
						<option id="{{ key }}">{{ key }}</option>
						{% endfor %}
					</select>
					
					</br></br>
					
					<label for="satellite"><b>Satellite:</b></label>
					<select id="satellite" name="satellite">
						<option selected disabled>Select satellite</option>
						{% for key,value in satellites.items() %}
							<option>{{ value }}</option>
						{% endfor %}
					</select>
					
					</br></br>
					
					<label for="login"><b>Login:</b></label>
					<input type="text" id="login" placeholder="Don't enter if default" name="login">
					
					</br></br>
					
					<label for="pwd"><b>Password:</b></label>
					<input type="password" id="pwd" placeholder="Don't enter if default" name="password">
					
					</br></br>
					
					<label for="state"><b>State:</b></label>
					<select id="state" name="state">
						<option selected disabled>Select state</option>
						<option>used</option>
						<option>don't used</option>
					</select>
					
					</br></br>
					
					<button type="submit" onClick="return window.confirm('Update receiver with ip={{ receiver['ip']}} and port={{ receiver['port']}}?');">Update</button>
					<button type="cancel" onclick="window.location='/receivers';return false;">Cancel</button>

			</form>
			<br>
			<form action="/receivers/{{ receiver['ip']}}/{{ receiver['port'] }}/delete" method="post">
				<button type="submit" onClick="return window.confirm('Delete receiver with ip={{ receiver['ip']}} and port={{ receiver['port']}}?');">Delete</button>
			</form>
