<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Receivers monitoring</title>
	<link rel="icon" href="/static/favicon.png" type="image/png">
</head>
<body> 
<header>
	<nav>			
		<table>	
			<tbody>
				<tr>
				
					<td>
						<a href="/">
							<img src="/static/image/media.png"" alt="logo" style="width:40px;">
						</a>						
					</td>
					
					<td valign=top>
						<ul>
							<b>Menu:</b>
							<li type="circle"><a href="/">Main</a></li>	
							<li type="circle"><a href="/satellite/monitoring">Monitoring</a></li>	
							<li type="circle"><a href="/receivers">Database editing</a></li>
							<li type="circle"><a href="/logout">Exit</a></li>							
							Locat time: {{time}}
						</ul>
					</td>
									
					<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>0.8&deg;</b>
							<li><a href="/satellite/0.8-v-high">0.8-v-high</a></li>					
						</ul>
					</td>
				
				<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>4.8&deg;</b>
							<li><a href="/satellite/4.8-h-high">4.8-h-high</a></li>
							<li><a href="/satellite/4.8-v-high">4.8-v-high</a></li>
							<li><a href="/satellite/4.8-v-low">4.8-v-low</a></li>	
						</ul>
					</td>
				
				<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>9&deg;</b>
							<li><a href="/satellite/9-v-high">9-v-high</a></li>
							<li><a href="/satellite/9-h-high">9-h-high</a></li>
						</ul>					
					</td>
				
				<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>13&deg;</b>
							<li><a href="/satellite/13-v-high">13-v-high</a></li>
							<li><a href="/satellite/13-h-high">13-h-high</a></li>
							<li><a href="/satellite/13-v-low">13-v-low</a></li>
							<li><a href="/satellite/13-h-low">13-h-low</a></li>
						</ul>
					</td>

				<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>15&deg;</b>
							<li><a href="/satellite/15-v-low">15-v-low</a></li>
							<li><a href="/satellite/15-h-low">15-h-low</a></li>
						</ul>
					</td>
				
				<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>36&deg;</b>
							<li><a href="/satellite/36-r">36-r</a></li>
							<li><a href="/satellite/36-l">36-l</a></li>
						</ul>
					</td>
				
				<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>56&deg;</b>
							<li><a href="/satellite/56-r">56-r</a></li>
						</ul>
					</td>				
				
				<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>75&deg;</b>
							<li><a href="/satellite/75-v-low">75-v-low</a></li>
							<li><a href="/satellite/75-v-high">75-v-high</a></li>
							<li><a href="/satellite/75-h-low">75-h-low</a></li>
						</ul>
					</td>
				
				<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>85&deg;</b>
							<li><a href="/satellite/85-v-high">85-v-high</a></li>
							<li><a href="/satellite/85-h-high">85-h-high</a></li>
						</ul>
					</td>
				
				<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>90&deg;</b>
							<li><a href="/satellite/90-l">90-l</a></li>
							<li><a href="/satellite/90-v-high">90-v-high</a></li>
							<li><a href="/satellite/90-h-low">90-h-low</a></li>
						</ul>
					</td>
				
				<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>Settings:</b>
							<li type="circle"><a href="/settings/global">Global</a></li>
							<li type="circle"><a href="/settings/users">Users</a></li>
							<li type="circle"><a href="/settings/receivers">Receivers</a></li>
						</ul>
					</td>
					
				</tr>
			</tbody>
		</table>		
			
</nav>
</header>
<main>
<section>
    <h3>{{name}}</h3>
    <!-- -->
		{% if name == 'Main' %}
		{% include 'main.html' %}
		{% elif name == 'Receivers' %}
		{% include 'receivers.html' %}
		{% elif name == 'Edit' %}
		{% include 'edit.html' %}
		{% elif name == 'Settings' %}
		{% include 'settings.html' %}
		{% else %}
		{% include 'monitoring.html' %}
		{% endif %}
   </section>
  </main>
  <aside>
   <!-- Sidebar -->
  </aside>
  <footer>
		<!--<img src="/static/image/media.png" alt="antenna"> -->
   <!-- Footer -->
  </footer>
 </body>
</html>