<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Receivers monitoring</title>
	<link rel="icon" href="/static/favicon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body> 
<header>
	<nav>			
		<table>	
			<tbody>
				<tr>
				
					<td>
						<a href="/">
							<img src="/static/image/media.png"" alt="logo" style="width:40px;">
						</a>						
					</td>
					
					<td valign=top>
						<ul>
							<b>Menu:</b>
							<li type="circle"><a href="/">Main</a></li>	
							<li type="circle"><a href="/monitoring/all">Monitoring</a></li>	
							<li type="circle"><a href="/receivers/">Receivers</a></li>
							<li type="circle"><a href="/logout">Exit</a></li>
							Locat time: {{time}}
						</ul>
					</td>

				<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>Settings:</b>
							<li type="circle"><a href="/settings/global">Global</a></li>
							<li type="circle"><a href="/settings/users">Users</a></li>
							<li type="circle"><a href="/settings/receivers">Receivers</a></li>
							<li type="circle"><a href="/settings/satellites">Satellites</a></li>
						</ul>
					</td>
					
				</tr>
			</tbody>
		</table>		
			
</nav>
</header>
<main>
<section>
    <h3>{{name}}</h3>
    <!-- -->
		{% if name == 'Main' %}
		{% include 'main.html' %}
		{% elif name == 'Receivers' %}
		{% include 'receivers.html' %}
		{% elif name == 'Edit' %}
		{% include 'edit.html' %}
		{% elif name == 'Settings' %}
		{% include 'settings.html' %}
		{% else %}
		{% include 'monitoring.html' %}
		{% endif %}
   </section>
  </main>
  <aside>
   <!-- Sidebar -->
  </aside>
  <footer>
		<!--<img src="/static/image/media.png" alt="antenna"> -->
   <!-- Footer -->
  </footer>
 </body>
</html>