{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<p>{{ message }}</p>
		{% endfor %}
	{% endif %}
{% endwith %}

<h4>Colour legend:</h4>
	<!-- low -->
	<input type="text" style="background-color:{{ values['alarm_low'] }};" disabled> 
	<label for="CN"  > - color for alarm_low</label>
	<br>
	<!-- normal -->
	<input type="text" style="background-color:{{ values['alarm_medium'] }};" disabled> 
	<label for="CN"  > - color for alarm_medium</label>
	<br>
	<!-- medium -->
	<input type="text" style="background-color:{{ values['alarm_normal'] }};" disabled> 
	<label for="CN"  > - color for alarm_normal</label>
	<br>
	<!-- high -->
	<input type="text" style="background-color:{{ values['alarm_high'] }};" disabled> 
	<label for="CN"  > - color for alarm_high</label>
	<br>
	<!-- critical -->
	<input type="text" style="background-color:{{ values['alarm_critical'] }};" disabled> 
	<label for="CN"  > - color for alarm_critical</label>
	<br>