<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
		<table class="table table-bordered table-sm">

			<thead>
				<tr>
					<th> Color of alarm: </th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<td> - receiver has not been tested yet</td>
				</tr>
				
				<tr class="table-secondary">
					<td> - no connection to receiver</td>
				</tr>

				<tr class="table-success">
					<td> - everything (may be) is Ok</td>
				</tr>
				
				<tr class="table-warning">
					<td> - low signal</td>
				</tr>
				
				<tr class="table-danger">
					<td> - problem with reception</td>
				</tr>
				
			</tbody>
				
		</table>	
	</div>
    <div class="col-sm-10"></div>
  </div>
</div>


