{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<p>{{ message }}</p>
		{% endfor %}
	{% endif %}
{% endwith %}

		<table>
			<thead>
				<tr>
					<th> Color of alarm: </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> - receiver has not been tested yet</td>
				</tr>
				<tr>
					<!-- gray -->
					<td bgcolor="#c0c0c0"> - no connection to receiver</td>
				</tr>
				<tr>
					<!-- green -->
					<td bgcolor="#98fb98"> - everything (may be) is Ok</td>
				</tr>
				<tr>
					<!-- yellow -->
					<td bgcolor="#ffd700"> - low signal</td>
				</tr>
				<tr>
					<!-- red -->
					<td bgcolor="#f08080"> - problem with reception</td>
				</tr>
			</tbody>
		</table>