				<h4>You view {{satellite}} satellite(s).</h4> 
				<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>Satellites, &deg;</b>
							<li type="circle">
							<select onchange="window.location.href = this.options[this.selectedIndex].value">
								<option></option>
								<option>all</option>
								{% for key,value in satellites.items() %}
									<option>{{ value }}</option>
								{% endfor %}
							</select>
							</li>
						</ul>
					</td>

			<table id="monitoring">
				<thead>
					<tr>
						<th> # </th>
						<th> IP </th>
						<th> Model </th>
						<th> Satellite </th>
						<th> Port </th>
						<th> C/N (dB) </th>
						<th> Eb/NO(dB) </th>
						<th> Link Margin (dB) </th>
						<th> Time of update </th>
						<th> Plot(.png) </th>
						<th> API(.png) </th>
						<th> Service Number </th>
						<th> CC errors (&Delta;) </th>
					</tr>
				</thead>
			{% for value in final_list %}
				<tbody>
					
					<div id="{{ value.ip}}:{{ value.port }}">
					{% if value.alarm == "alarm_medium" %}
					<tr bgcolor="{{ settings.alarm_medium }}">
					
					{% elif value.alarm == "alarm_critical" %}
					<tr bgcolor="{{ settings.alarm_critical }}">
					
					{% elif value.alarm == "alarm_high" %}
					<tr bgcolor="{{ settings.alarm_high }}">
					
					{% elif value.alarm == "alarm_low" %}
					<tr bgcolor="{{ settings.alarm_low }}">
					
					{% elif value.alarm == "alarm_normal" %}
					<tr bgcolor="{{ settings.alarm_normal }}">
					
					{% endif %}
						<td bgcolor="white"><div id="{{ value.ip}}:{{ value.port }}:index"> {{ loop.index }} </div></td>
						<td> <a href="/receivers/{{ value.ip}}/{{ value.port }}"><div id="{{ value.ip}}:{{ value.port }}:ip"> {{ value.ip }} </div></a> </td>
						<td><div id="{{ value.ip}}:{{ value.port }}:model"> {{ value.model }} </div></td>
						<td><div id="{{ value.ip}}:{{ value.port }}:satellite"> {{ value.satellite  }} </div></td>
						<td><div id="{{ value.ip}}:{{ value.port }}:port"> {{ value.port }} </div></td>
						<td><div id="{{ value.ip}}:{{ value.port }}:c_n"> {{ value.c_n }} </div></td>
						<td><div id="{{ value.ip}}:{{ value.port }}:eb_no"> {{ value.eb_no }} </div></td>
						<td><div id="{{ value.ip}}:{{ value.port }}:l_m"> {{ value.l_m }} </div></td>	
						<td><div id="{{ value.ip}}:{{ value.port }}:time"> {{ value.time }} </div></td>
						<td bgcolor="white"> <a href="/statistics/{{ value.ip}}/{{ value.port }}/1"> Detail </a> </td>
						<td bgcolor="white"> <a href="/api/v1.0/monitoring/{{ value.ip}}/{{ value.port }}/1"> Detail </a> </td>
						<td bgcolor="white"><div id="{{ value.ip}}:{{ value.port }}:service"> {{ value.service }} </div></td>
						<td bgcolor="white"><div id="{{ value.ip}}:{{ value.port }}:cc_delta"> {{ value.cc_delta }} </div></td>
					</tr>
					</div>
					
				</tbody>
			{% endfor %}
			</table>
			
<script>
function update() {
	$.ajax('/api/v1.0/monitoring/',   // request url
		{
		  // success callback Function       
		  success: function (data, status, xhr) { 
			   //$('div').append(data);
			   //console.log("test")
			   obj = JSON.parse(data);
			   var max = Object.keys(obj).length;
			   //console.log(max)
			   for (var count = 0; count < max; count = count + 1){
					//console.log(obj[count]["ip"])
					var receiverId = obj[count]["ip"] + ":" + obj[count]["port"]
					//console.log(receiverId)
					if (document.getElementById(receiverId + ":" + "c_n") != null){
						document.getElementById(receiverId + ":" + "c_n").innerHTML = obj[count]["c_n"]
						document.getElementById(receiverId + ":" + "eb_no").innerHTML = obj[count]["eb_no"]
						document.getElementById(receiverId + ":" + "l_m").innerHTML = obj[count]["l_m"]
						document.getElementById(receiverId + ":" + "time").innerHTML = obj[count]["time"]
						document.getElementById(receiverId + ":" + "service").innerHTML = obj[count]["service"]
						document.getElementById(receiverId + ":" + "cc_delta").innerHTML = obj[count]["cc_delta"]
					}
			   }
		}
	});
}

let timerId= setInterval(() => update(), 30000);

</script>