
				<!-- Dropdown -->
					<td valign=top>
						<ul>
							<b>Satellites, &deg;</b>
							<li type="circle">
							<select onchange="window.location.href = this.options[this.selectedIndex].value">
								<option></option>
								<option>all</option>
								{% for key,value in satellites.items() %}
									<option>{{ value }}</option>
								{% endfor %}
							</select>
							</li>
						</ul>
					</td>


			<table id="monitoring">
				<thead>
					<tr>
						<th> # </th>
						<th> IP </th>
						<th> Model </th>
						<th> Satellite </th>
						<th> Port </th>
						<th> C/N (dB) </th>
						<th> Eb/NO(dB) </th>
						<th> Link Margin (dB) </th>
						<th> Time of update </th>
						<th> Plot, png </th>
						<th> API, png </th>
						<th> Service Number </th>
						<th> CC errors </th>
					</tr>
				</thead>
			{% for value in final_list %}
				<tbody>
				
					{% if value.alarm == "alarm_medium" %}
					<tr bgcolor="{{ settings.alarm_medium }}">
					
					{% elif value.alarm == "alarm_critical" %}
					<tr bgcolor="{{ settings.alarm_critical }}">
					
					{% elif value.alarm == "alarm_high" %}
					<tr bgcolor="{{ settings.alarm_high }}">
					
					{% elif value.alarm == "alarm_low" %}
					<tr bgcolor="{{ settings.alarm_low }}">
					
					{% elif value.alarm == "alarm_normal" %}
					<tr bgcolor="{{ settings.alarm_normal }}">
					
					{% endif %}
						<td bgcolor="white"> {{ loop.index }} </td>
						<td> <a href="/receivers/{{ value.ip}}/{{ value.port }}"> {{ value.ip }} </a> </td>
						<td> {{ value.model }} </td>
						<td> {{ value.satellite  }} </td>
						<td> {{ value.port }} </td>
						<td> {{ value.c_n }} </td>
						<td> {{ value.eb_no }} </td>
						<td> {{ value.l_m }} </td>	
						<td> {{ value.time }} </td>
						<td bgcolor="white"> <a href="/statistics/{{ value.ip}}/{{ value.port }}/1"> Detail </a> </td>
						<td bgcolor="white"> <a href="/api/v1.0/monitoring/{{ value.ip}}/{{ value.port }}/1"> Detail </a> </td>
						<td bgcolor="white"> {{ value.service }} </td>
						<td bgcolor="white"> not initialized </td>
					</tr>
				</tbody>
			{% endfor %}
			</table>