	
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				{% if category == "normal" %}
				<font color="green">
				{% elif category == "error" %}
				<font color="red">
				{% endif %}
				<p class="text-info font-weight-bold">{{ message }}</p>
				</font>
			{% endfor %}
		{% endif %}
	{% endwith %}
	
			<form action="/receivers/add" method="post">

					<label for="ip">IP:</label>
					<input type="text" id="ip" placeholder="Enter IPv4 address" name="ip">
					<br>
					<br>
					<label for="model">Model:</label>
					<select id="model" name="model">
						{% for key, value in types_of_receivers.items() %}
						<option>{{ key }}</option>
						{% endfor %}
					</select>
					<br>
					<br>					
					<label for="satellite">Satellite:</label>
					<select id="satellite" name="satellite">
						{% for key, value in satellites.items() %}
							<option>{{ value }}</option>
						{% endfor %}
					</select>
					<br>
					<br>
					<label for="port">Port:</label>
					<select id="port" name="port">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>						
					</select>
					<br>
					<br>
					<label for="login">Login:</label>
					<input type="text" id="login" placeholder="Don't enter if default" name="login">
					<br>
					<br>
					<label for="pwd">Password:</label>
					<input type="password" id="pwd" placeholder="Don't enter if default" name="password">
					<br>
					<br>
					<label for="state">State:</label>
					<select id="state" name="state">
						<option>used</option>
						<option>don't used</option>
					</select>
					<br>
					<br>
					<button type="submit">Add</button>

			</form>

	<br>

			<table>
				<thead>
					<tr>
						<th> # </th>
						<th> IP </th>
						<th> Model </th>
						<th> Satellite </th>
						<th> Port </th>
						<th> Login </th>
						<th> Password </th>
						<th> State </th>
					</tr>
				</thead>
			{% for value in list_of_receivers %}
				<tbody>
					<tr>
						<td> {{ loop.index }} </td>
						<td bgcolor="#e6f4ff"> {{ value.ip}} </td>
						<td bgcolor="#d0e3f7"> {{ value.model }} </td>
						<td bgcolor="#e6f4ff"> {{ value.satellite  }} </td>
						<td bgcolor="#d0e3f7"> {{ value.port }} </td>
						{% if value.login == None %}
						<td bgcolor="#e6f4ff"> by default </td>
						{% else %}
						<td bgcolor="#e6f4ff"> **** </td>
						{% endif %}
						{% if value.password == None %}
						<td bgcolor="#d0e3f7"> by default </td>
						{% else %}
						<td bgcolor="#d0e3f7"> **** </td>
						{% endif %}						
						{% if value.state == 1 %}
						<td bgcolor="#e6f4ff"> used </td>
						{% elif value.state == 0 %}
						<td bgcolor="#e6f4ff"> don't used </td>
						{% endif %}
						<td>
							<a href="/receivers/{{ value.ip}}/{{ value.port }}">Edit</a>
						</td>
						<td>
							<a href="/receivers/{{ value.ip}}/{{ value.port}}/delete" onClick="return window.confirm('Delete receiver with ip = *{{ value.ip}}* and port = *{{ value.port}}*?');">Delete</a>
							<!--form action="/receivers/{{ value.ip}}/{{ value.port}}/delete" method="post">
								<button type="submit" onClick="return window.confirm('Delete receiver with ip = *{{ value.ip}}* and port = *{{ value.port}}*?');"> Delete </button>
							</form-->
						</td>
					</tr>							
				</tbody>
			{% endfor %}
			</table>
