	
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			  <p class="text-info font-weight-bold">{{ message }}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	


			<form action="/add" method="post">

					<label for="ip">IP:</label>
					<input type="text" id="ip" placeholder="Enter IPv4 address" name="ip">


					<label for="model">Model:</label>
					<select id="model" name="model">
						<option>proview2962</option>
						<option>proview7000</option>
						<option>proview7100s</option>
						<option>proview7100mold</option>
						<option>proview7100mnew</option>
						<option>proview8130</option>
					</select>

					<label for="satellite">Satellite:</label>
					<select id="satellite" name="satellite">
						<option>0.8-v-high</option>
						<option>4.8-h-high</option>
						<option>4.8-v-high</option>
						<option>4.8-v-low</option>
						<option>9-v-high</option>
						<option>9-h-high</option>
						<option>13-v-high</option>
						<option>13-h-high</option>
						<option>13-v-low</option>
						<option>13-h-low</option>
						<option>15-v-low</option>
						<option>15-h-low</option>
						<option>36-r</option>
						<option>36-l</option>
						<option>56-r</option>
						<option>75-v-low</option>
						<option>75-v-high</option>
						<option>75-h-low</option>
						<option>85-v-high</option>
						<option>85-h-high</option>
						<option>90-l</option>
						<option>90-v-high</option>
						<option>90-h-low</option>
					</select>

					<label for="port">Port:</label>
					<select id="port" name="port">
						<option>default</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>						
					</select>

					<label for="login">Login:</label>
					<input type="text" id="login" placeholder="Don't enter if default" name="login">

					<label for="pwd">Password:</label>
					<input type="password" id="pwd" placeholder="Don't enter if default" name="password">

					<label for="state">State:</label>
					<select id="state" name="state">
						<option>used</option>
						<option>don't used</option>
					</select>

					<button type="submit">Add</button>

			</form>

	<br>

			<table bgcolor="#FFFFF2">
				<thead>
					<tr>
						<th> IP </th>
						<th> Model </th>
						<th> Satellite </th>
						<th> Port </th>
						<th> Login </th>
						<th> Password </th>
						<th> State </th>
					</tr>
				</thead>
			{% for value in list_of_receivers %}
				<tbody>
					<tr>
						<th> {{ value.ip}} </th>
						<td> {{ value.model }} </td>
						<td> {{ value.satellite  }} </td>
						<td> {{ value.port }} </td>
						{% if value.login == None %}
						<td> by default </td>
						{% else %}
						<td> **** </td>
						{% endif %}
						{% if value.password == None %}
						<td> by default </td>
						{% else %}
						<td> **** </td>
						{% endif %}						
						{% if value.state == 1 %}
						<td> used </td>
						{% elif value.state == 0 %}
						<td> don't used </td>
						{% endif %}
						<td>
							<a href="/edit/{{ value.ip}}/{{ value.port }}/get">Edit</a>				
						</td>
						<td>	
							<a href="/edit/{{ value.ip}}/{{ value.port }}/delete" onClick="return window.confirm('Delete receiver with ip={{ value.ip}} and port={{ value.port }}?');">Delete</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}
			</table>
