<h4>{{subname}}</h4>
	
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			  <p>{{ message }}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	
			<form action="" method="post">
			
				{% if path == "global" %}
				
				<h4>Period of update:</h4>
				<input type="text"  id="time" placeholder="{{ values['period'] }}" name="time" disabled>
				<label for="time"> - reception parameters update period (integer value).</label>
					
				<h4>Boundary values for C/N and Eb/NO:</h4>
				<input type="text" id="CN" placeholder="{{ values['c_n_boundary'] }}" name="CN">
				<label for="CN"  > - for C/N (dB, integer or decimal value)</label>
				<br>
				<br>
				<input type="text" id="ebno" placeholder="{{ values['eb_no_boundary'] }}" name="ebno">
				<label for="ebno"> - for Eb/NO(dB, integer or decimal value)</label>
				
				{% elif path == "users" %}
				
				<h4>Current values:</h4>
				
				<table>
					<thead>
						<tr>
							<th> Login </th>
							<th> Password </th>		
						</tr>
					</thead>
					{% for key,value in values.items() %}
					<tbody>
						<tr>
							<td bgcolor="#afdafc"> {{ key }} </td>
							<td bgcolor="#7dc4fa"> {{ value }} </td>	
						</tr>
					</tbody>
				{% endfor %}
				</table>
				
				<h4>Users passwords:</h4>
					
					<p><select name="user_select" size="1">
						<option selected disabled>Select username</option>	
						<option value="admin">admin</option>
						<option value="monitor">monitor</option>						
					</select></p>
					
					<input type="password" id="password" placeholder="new password" name="password">
				
				{% elif path == "receivers" %}
				
				<h4>Current values:</h4>
				
				<table>
					<thead>
						<tr>
							<th> Model </th>
							<th> Login </th>
							<th> Password </th>		
						</tr>
					</thead>
					{% for key,value in values.items() %}
					<tbody>
						<tr>
							<td bgcolor="#afdafc"> {{ key }} </td>
							<td bgcolor="#7dc4fa"> {{ value[0] }} </td>
							<td bgcolor="#7dc4fa"> {{ value[1]  }} </td>	
						</tr>
					</tbody>
				{% endfor %}
				</table>
				
				<h4>Default logins and passwords for receiver models:</h4>
									
				<p><select name="receiver_select" size="1">
					<option selected disabled>Select type of receiver</option>	
					
				{% for key,value in values.items() %}
					<option value="{{ key }}">{{ key }}</option>
				{% endfor %}
				
				</select></p>
				<input type="text" id="login" placeholder="login" name="login">
				<label for="login"> - new login</label>
				<br>
				<br>
				<input type="password" id="password" placeholder="password" name="password">
				<label for="password"> - new password</label>

				{% endif %}
				<br>
				<br>
				<button type="submit" onClick="return window.confirm('Update settings?');">Update</button>
			</form>

	