<h4>{{subname}}</h4>
	
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				{% if category == "normal" %}
				<font color="green">
				{% elif category == "error" %}
				<font color="red">
				{% endif %}
				<p class="text-info font-weight-bold">{{ message }}</p>
				</font>
			{% endfor %}
		{% endif %}
	{% endwith %}
	
			
			
				{% if path == "global" %}
			<form action="/settings/global/update" method="post">	
					<h4>Period of update:</h4>
					<input type="text"  id="time" placeholder="{{ values['period'] }}" name="time" disabled>
					<label for="time"> - reception parameters update period (integer value).</label>
						
					<h4>Boundary values for C/N and Eb/NO:</h4>
					<input type="text" id="c_n_boundary" placeholder="{{ values['c_n_boundary'] }}" name="c_n_boundary">
					<label for="CN"  > - for C/N (dB; integer or decimal value)</label>
					<br>
					<br>
					<input type="text" id="eb_no_boundary" placeholder="{{ values['eb_no_boundary'] }}" name="eb_no_boundary">
					<label for="ebno"> - for Eb/NO(dB; integer or decimal value)</label>
					
					<h4>Colors of alarm:</h4>
					<!-- low -->
					<input type="text" style="background-color:{{ values['alarm_low'] }};" disabled> 
					<input type="text" id="alarm_low" placeholder="{{ values['alarm_low'] }}" name="alarm_low"> 
					<label for="CN"  > - color for alarm_low</label>
					<br>
					<!-- normal -->
					<input type="text" style="background-color:{{ values['alarm_medium'] }};" disabled> 
					<input type="text" id="alarm_medium" placeholder="{{ values['alarm_medium'] }}" name="alarm_medium">
					<label for="CN"  > - color for alarm_medium</label>
					<br>
					<!-- medium -->
					<input type="text" style="background-color:{{ values['alarm_normal'] }};" disabled> 
					<input type="text" id="alarm_normal" placeholder="{{ values['alarm_normal'] }}" name="alarm_normal">
					<label for="CN"  > - color for alarm_normal</label>
					<br>
					<!-- high -->
					<input type="text" style="background-color:{{ values['alarm_high'] }};" disabled> 
					<input type="text" id="alarm_high" placeholder="{{ values['alarm_high'] }}" name="alarm_high">
					<label for="CN"  > - color for alarm_high</label>
					<br>
					<!-- critical -->
					<input type="text" style="background-color:{{ values['alarm_critical'] }};" disabled> 
					<input type="text" id="alarm_critical" placeholder="{{ values['alarm_critical'] }}" name="alarm_critical">
					<label for="CN"  > - color for alarm_critical</label>
					<br>
					<br>
					<br>
					<button type="submit" onClick="return window.confirm('Update settings?');">Update</button>		
			</form>
			
			
				{% elif path == "users" %}
			<form action="/settings/users/update" method="post">	
					<h4>Current values:</h4>
					
					<table>
						<thead>
							<tr>
								<th> Login </th>
								<th> Password </th>		
							</tr>
						</thead>
						{% for key,value in values.items() %}
						<tbody>
							<tr>
								<td bgcolor="#afdafc"> {{ key }} </td>
								<td bgcolor="#7dc4fa"> {{ value }} </td>	
							</tr>
						</tbody>
						{% endfor %}
					</table>
				
				<h4>Users passwords:</h4>
					
					<p><select name="user_select" size="1">	
						<option value="admin">admin</option>
						<option value="monitor">monitor</option>						
					</select></p>
					
					<input type="password" id="password" placeholder="new password" name="password">
					<br>
					<br>
					<button type="submit" onClick="return window.confirm('Update settings?');">Update</button>
			</form>
			
				{% elif path == "receivers" %}
			<form action="/settings/receivers/update" method="post">	
					<h4>Current values:</h4>
					
					<table>
						<thead>
							<tr>
								<th> Model </th>
								<th> Login </th>
								<th> Password </th>		
							</tr>
						</thead>
						{% for key,value in values.items() %}
						<tbody>
							<tr>
								<td bgcolor="#afdafc"> {{ key }} </td>
								<td bgcolor="#7dc4fa"> {{ value[0] }} </td>
								<td bgcolor="#7dc4fa"> {{ value[1]  }} </td>	
							</tr>
						</tbody>
					{% endfor %}
					</table>
					
					<h4>Default logins and passwords for receiver models:</h4>
										
					<p><select name="receiver_select" size="1">	
						
					{% for key,value in values.items() %}
						<option value="{{ key }}">{{ key }}</option>
					{% endfor %}
					
					</select></p>
					<input type="text" id="login" placeholder="login" name="login">
					<label for="login"> - new login</label>
					<br>
					<br>
					<input type="password" id="password" placeholder="password" name="password">
					<label for="password"> - new password</label>
					<br>
					<br>
					<button type="submit" onClick="return window.confirm('Update settings? The new parameters will be saved as they are.');">Update</button>
			</form>
			
				{% elif path == "satellites" %}
				
					<form action="/settings/satellites/add" method="post">
							<label for="ip">Satellite:</label>
							<input type="text" id="satellite" placeholder="Enter value" name="satellite">
							<button type="submit">Add</button>
					</form>
					<br>
					<h4>List of Satellites:</h4>
					<table>
						<thead>
							<tr>
								<th> Satellite </th>
							</tr>
						</thead>
						{% for key,value in values.items() %}
						<tbody>
							<tr>
								<form action="/settings/satellites/update" method="post">
								<input type="hidden" name="oldsatellite" id="oldsatellite" value="{{ value }}">
								<td bgcolor="#7dc4fa"> <input name="newsatellite" id="newsatellite" value="{{ value }}"> </td>
								<td>
									<button type="submit" onClick="return window.confirm('Update satellite = *{{ value }}*?');"> Update </button>
								</form>
								</td>
								<td>
									<form action="/settings/satellites/delete" method="post">
									  <input type="hidden" name="satellite" id="satellite" value="{{ value }}">
									  <button type="submit" onClick="return window.confirm('Delete satellite = *{{ value }}*?');"> Delete </button>
									</form>
								</td>
							</tr>
						</tbody>
					{% endfor %}
					</table>
					<br>
					<br>
				{% endif %}

	
